*
{
  font-family: Arial, Helvetica, sans-serif;
}

.body
{
  margin: 0;

}

a
{
  text-decoration: none;
  margin-left: 7px;
  margin-right: 7px;
}

a:hover
{
  text-decoration: underline;
  color: rgba(0,0,0,0.6);
}

a:visited
{
  color: #5f6368;
}

#hautdepage
{
  color: rgba(0,0,0,0.87)
  text-decoration : none;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  height : 30px;
  align-items: center;
  padding-right: 7px;
  padding-top: 10px;
}

.imgapp
{
  width: 35px;
  height: 35px;
  opacity: 0.5;
}

.imgapp:hover
{
  opacity:1;
}

.connexion
{
  font-size: 13px;
  border: 2px solid #4285f4;
  display: inline-block;
  font-weight: bold;
  line-height: 28px;
  border-radius: 2px;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  padding-left: 12px;
  padding-right: 12px;
}

#logo
{
  display: block;
  margin: auto;
  margin-top: 109px;
  margin-bottom: 20px;
  height: 92px;
  width: 272px;
}

#search
{
  display: flex;
  flex:100%;
  justify-content: center;
}

.search
{
  width: 582px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right : 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search:hover
{
  box-shadow: 10px 5px 5px 5px#f2f2f2;
}

#submit
{
  display: flex;
  justify-content: center;
  margin: 6px 4px;
  padding: 16px;
}

.button
{
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 8px 6px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.button:hover
{
  border : 1px solid rgb(95, 99, 104);
}

footer
{
background-color: #F5F5F5;
position: absolute;
bottom: 0;
width: 100%;
}

#footer
{
  display: flex;
  justify-content: space-between;
  max-height:50px;
}

#basdepage1
{
border-top: 1px solid #e4e4e4;
border-bottom: 1px solid #e4e4e4;
font-size: 15px;
color: rgba(0,0,0,.54);
padding-left: 27px;
}

#basdepage2a
{
font-size: 13px;
color: #5f6368;
margin: 0 !important;
line-height: 40px;
height: 35px;
padding-left: 20px;
flex-direction: row;
justify-content: center;
align-content: flex-start;
}

#basdepage2a:hover
{
  color: #5f6368;
}

#basdepage2b
{
font-size: 13px;
color: #5f6368;
margin: 0 !important;
line-height: 40px;
height: 35px;
padding-right: 27px;
flex-direction: row;
justify-content: center;
align-content: flex-end;
}

#basdepage2b:hover
{
  color: #5f6368;
}


